<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.sudoku"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sudoku_icon_trans"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.game.sudoku.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.game.sudoku.SudokuPuzzleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.game.sudoku.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.game.sudoku.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.game.sudoku.ScorecardActivity"
            android:label="@string/title_activity_scorecard"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>